<!-- From album to here, get album_id -->

<form action="<%= band_album_tracks_url(@band, @album) %>" method="POST">
  <p><label>
    Track Name:
    <input type="text" id="track_name" name="track[name]">
  </label></p>

  <input type="hidden" value="<%= @band %>" id="track_band" name="track[band_id]">
  <input type="hidden" value="<%= @album %>" id="track_album" name="track[album_id]">

  <input type="submit">
</form>