<!-- <form action="" method="POST">
  <% @all_albums.each do |band, albums|%>
    <p><strong><%= band.name %></strong></p>
    <p><%= "No albums" if albums.length == 0 %></p>

    <select name="track[]" id="album_type">
    <% albums.each do |album|%>

      <option><%= album.name %> </option>
    <% end %>
    </select>

  <% end %>
</form> -->

<!-- From album to here, get album_id -->