<p><%#= link_to "Add an album to a band", new_album_url %>
<p><%#= link_to "Add a track to this album",
  new_band_album_track_url(params[:band_id], params[:id]) %>

<br>
<br>
<% @all_albums.each do |band, albums|%>
  <p><strong><%= band.name %></strong></p>
  <p><%= "No albums" if albums.length == 0 %></p>

  <ul>
  <% albums.each do |album|%>
    <li><%= album.name %> </li>
  <% end %>
  </ul>

<% end %>




